<ul class="plan-list odd">
  <li class="list-content odd-content">プランテキスト</li>
  <li class="list-content">
    <div><span>￥</span>5,000</div>
    <div>月額</div>
  </li>
  <li class="list-content">入会金0円</li>
  <li class="list-content">平日:9時～17時</li>
  <li class="list-content">土日祝：利用ナシ</li>
  <li class="list-content">コアタイムでの利用に最適なプラン</li>
</ul>

<ul class="plan-list even">
  <li class="list-content even-content">プランテキスト</li>
  <li class="list-content">
    <div><span>￥</span>5,000</div>
    <div>月額</div>
  </li>
  <li class="list-content">入会金0円</li>
  <li class="list-content">平日:9時～17時</li>
  <li class="list-content">土日祝：利用ナシ</li>
  <li class="list-content">コアタイムでの利用に最適なプラン</li>
</ul>
