@use "../../variables" as *;

.plan-odd {
  text-align: center;
  .list-odd {
    border: 1px solid $gray_gainsboro;
  }
  li:nth-child(1) {
    font-weight: 700;
    font-size: $fontsize-l;
    line-height: 29px;
    color: $white;
    background-color: $orange_zorba;
  }
  li:nth-child(2) {
    background-color: $gray_desertStorm;
    div:nth-child(1) {
      color: $orange_bistre;
      font-weight: 700;
      font-size: $fontsize-xxl;
      line-height: 50px;
      span {
        font-size: $fontsize-l;
        line-height: 29px;
      }
    }
    div:nth-child(2) {
      font-size: $fontsize-s;
      line-height: 20px;
    }
  }
  li:nth-child(n + 3) {
    font-size: $fontsize-s;
    line-height: 20px;
  }
}

.plan-even {
  text-align: center;
  li:nth-child(1) {
    font-weight: 700;
    font-size: $fontsize-l;
    line-height: 29px;
    color: $white;
    background-color: $orange_bistre;
  }
  li:nth-child(2) {
    background-color: $gray_desertStorm;
    div:nth-child(1) {
      color: $orange_bistre;
      font-weight: 700;
      font-size: $fontsize-xxl;
      line-height: 50px;
      margin-bottom: 0px;
      span {
        font-size: $fontsize-l;
        line-height: 29px;
      }
    }

    div:nth-child(2) {
      font-size: $fontsize-s;
      line-height: 20px;
      margin-bottom: 0px;
    }
  }
  li:nth-child(n + 3) {
    font-size: $fontsize-s;
    line-height: 20px;
  }
}
