<div class="plan-odd">
  <ul class="list-odd">
    <li class="list-group">プランテキスト</li>
    <li class="list-group">
      <div><span>￥</span>5,000</div>
      <div>月額</div>
    </li>
    <li class="list-group">入会金0円</li>
    <li class="list-group">平日:9時～17時</li>
    <li class="list-group">土日祝：利用ナシ</li>
    <li class="list-group">コアタイムでの利用に最適なプラン</li>
  </ul>
</div>

<div class="plan-even">
  <ul class="list-group">
    <li class="list-group-item">プランテキスト</li>
    <li class="list-group-item">
      <div><span>￥</span>5,000</div>
      <div>月額</div>
    </li>
    <li class="list-group-item">入会金0円</li>
    <li class="list-group-item">平日:9時～17時</li>
    <li class="list-group-item">土日祝：利用ナシ</li>
    <li class="list-group-item">コアタイムでの利用に最適なプラン</li>
  </ul>
</div>
