@use "../../variables" as *;

footer {
  .footer-contact {
    text-align: center;
    padding: 52px 0;
    @media screen and(max-width: $breakpoint-md) {
      padding: 32px 0;
    }
    .footer-img {
      width: 150px;
      margin-bottom: 20px;
    }
    .footer-text-wrapper {
      font-size: $fontsize-s;
      line-height: 28px;
      margin-bottom: 20px;
    }
    .footer-icon {
      .sns-icon {
        margin: 0 7px;
        color: $black;
        &:hover {
          color: $gray_nobel;
        }
      }
    }
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: $white_smoke;
    font-size: $fontsize-s;
    line-height: 20px;
    padding: 16px 0;
    @media screen and(max-width: $breakpoint-md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: 16px;
      gap: 8px;
    }
    .footer-nav-link {
      color: $black;
      padding: 0 8px;
      @media screen and(max-width: $breakpoint-md) {
        padding: 0;
      }
      &:hover {
        color: $orange_bistre;
        text-decoration: none;
      }
      &:not(:last-child) {
        border-right: 1px solid $black;
        @media screen and(max-width: $breakpoint-md) {
          border: 0;
        }
      }
    }
  }
  .footer-bottom {
    font-size: $fontsize-xs;
    line-height: 12px;
    text-align: center;
    color: $white;
    background-color: $black;
    padding: 16px 0;
  }
}
