<footer class="footer">
  <div class="footer-contact">
    <a class="footer-img-wrapper" href="#">
      <img src="../../../img/footer.png" class="footer-img" />
    </a>
    <div class="footer-text-wrapper">
      〒532-0011　大阪市淀川区西中島6丁目8-23テスト<br />
      TEL.06-1234-5678 FAX.06-1234-5678　営業時間/9:00-22:00　定休日/不定休
    </div>
    <div class="footer-icon">
      <a href="#"><i class="fab fa-facebook-f sns-icon"></i></a>
      <a href="#"><i class="fab fa-twitter sns-icon"></i></a>
      <a href="#"><i class="fab fa-instagram sns-icon"></i></a>
      <a href="#"><i class="fas fa-rss sns-icon"></i></a>
    </div>
  </div>
  <div class="footer-list">
    <a class="footer-nav-link" href="#">HOME</a>
    <a class="footer-nav-link" href="#">CONCEPT</a>
    <a class="footer-nav-link" href="#">SERVICE</a>
    <a class="footer-nav-link" href="#">FLOOR</a>
    <a class="footer-nav-link" href="#">INTERVIEW</a>
    <a class="footer-nav-link" href="#">BLOG</a>
    <a class="footer-nav-link" href="#">ACCESS</a>
    <a class="footer-nav-link" href="#">DOWNLOAD</a>
  </div>
  <div class="footer-bottom">
    Copyright © WordPressテーマ「Switch(tcd063)」 All Rights Reserved.
  </div>
</footer>
