@use "../../variables" as *;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  position: absolute;
  width: 180px;
  height: 45px;
  left: 20px;
  top: 20px;
  background-color: $black;
  color: $white;
  transition: 0.2s;

  @media screen and(min-width: $breakpoint-md) {
    width: 150px;
    height: 55px;
  }
  @media screen and(min-width: $breakpoint-lg) {
    width: 200px;
    height: 55px;
  }
}
.button:hover {
  background-color: $orange_bistre;
  color: $white;
  text-decoration: none;
}
