@use "../../variables" as *;

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 16px;

  width: 180px;
  height: 45px;
  background-color: $black;
  color: $white;
  transition: 0.2s;

  @media screen and(min-width: $breakpoint-md) {
    width: 150px;
    height: 55px;
  }
  @media screen and(min-width: $breakpoint-lg) {
    width: 200px;
    height: 55px;
  }
  &:hover {
    background-color: $orange_bistre;
    color: $white;
    text-decoration: none;
  }
}
