@use "../../variables" as *;

.about {
  margin-bottom: 100px;
  @media screen and(max-width: $breakpoint-lg) {
    margin-bottom: 40px;
  }
  & .about-img-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    @media screen and(max-width: $breakpoint-lg) {
      grid-template-columns: repeat(2, 1fr);
    }
    & .about-img {
      width: 100%;
    }
  }
  & .message {
    text-align: center;
    background-color: $white_smoke;
    padding: 52px 26.5px;
    @media screen and(max-width: $breakpoint-lg) {
      padding: 32px 24px;
    }
    & .message_title {
      color: $orange_bistre;
    }
  }
}
